<div class="flip-card relative">
    <div class="flip-card-inner rounded shadow-xl transition-all duration-1000">

        <div class="flip-card-front bg-white">

            <img src="<%= item.data.cover %>" alt="Portfolio item cover photo" class="object-cover w-full" style="aspect-ratio: 4/3;">
            <div class="px-4 py-2">
                <h3 class="font-bold text-xl mb-2"><%= item.data.name %></h3>
            </div>

        </div>
        <div class="flip-card-back bg-white">
            <div class="relative md:p-8 p-4 h-full overflow-hidden overflow-ellipsis">
                <a href="<%= item.data.link %>" class="inline-block font-bold text-xl mb-4 whitespace-nowrap underline" style="text-decoration-color: #ff4d5a;"><%= item.data.name %></a>
                <div class="bg-red w-24 h-0.5 rounded mb-3"></div>
                <h3 class="text-lg mb-4 text-gray overflow-hidden overflow-ellipsis" style="display: -webkit-box; -webkit-line-clamp: 6; line-clamp: 6; -webkit-box-orient: vertical;"><%= item.data.summary %></h3>
            </div>
        </div>

    </div>
</div>